/* @media (max-width: 1200px) {
    section.about-us .container,
    section.our-services .container,
    section.testimonials .container, 
    section.privacy .container {
      width: 90%;
      padding: 0 30px;
    }
  } */

@media (max-width: 992px) {
  section.about-us,
  section.our-services,
  section.testimonials {
    padding: 60px 0;
  }

  section.membership .container .row {
    flex-direction: column;
    gap: 50px;
  }

  section.membership .container .first-part,
  section.membership .container .second-part {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 15px;
  }
  section.about-us .container,
  section.testimonials .container,
  section.privacy .container {
    width: 100%;
    max-width: 768px;
    padding: 0 16px;
    position: relative;
  }
  section.privacy {
    padding: 40px 0px;
  }
  section.privacy .container .contents {
    max-width: 100%;
  }
  section.our-services .container::after {
    content: none;
  }
  section.our-services .container :before {
    content: none;
  }
  section.about-us,
  section.our-services,
  section.testimonials {
    padding: 40px 16px;
  }

  .testimonials .swiper-button-prev,
  .testimonials .swiper-button-next {
    display: none;
  }
  section.testimonials .container::after {
    content: none;
  }
  section.our-services .container .contents .heading,
  section.testimonials .heading {
    font-size: 16px;
  }
  section.our-services .sec-heading,
  section.testimonials .sec-heading {
    font-size: 28px;
  }
  section.testimonials .sec-heading {
    margin-top: 10px;
  }
  .our-services .icon-boxes .ic-box img {
    margin-bottom: 10px;
    max-width: 120px;
  }
  .mb {
    margin-bottom: 30px;
  }
  .our-services .icon-boxes .ic-box p {
    padding: 16px 12px;
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
  section.privacy .container .all-contents p,
  section.privacy .container .all-contents h2,
  section.privacy .container .all-contents li {
    font-size: 16px;
  }
  .about-slider .swiper-slide {
    /* width: 96%; */
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  section.about-slider {
    /* padding: 20px; */
    margin-bottom: 0px;
  }
  section.about-slider {
    height: 450px;
  }
  .about-slider .swiper-button-next,
  .about-slider .swiper-button-prev {
    display: none;
  }
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
  section.membership {
    display: block;
  }

  .swiper-slide .slide-para {
    font-size: 14px;
    line-height: 20px;
  }

  .swiper-slide .slide-heading {
    font-size: 24px;
    padding-top: 10px;
  }

  section.about-us .container .contents,
  section.our-services .container .contents {
    row-gap: 20px;
  }

  section.about-us .sec-heading,
  section.our-services .sec-heading,
  section.testimonials .sec-heading,
  section.milestones .milestones-para,
  section.membership .container .first-part .plan-heading {
    font-size: 26px;
    font-weight: 400;
  }
  section.about-us .about,
  section.about-us .heading,
  section.testimonials .heading {
    font-size: 16px;
    font-weight: 700;
  }

  section.milestones .container {
    padding: 0 30px;
  }

  section.membership .container .second-part .box {
    flex-direction: column;
    gap: 20px;
  }

  .our-services .icon-boxes .ic-box {
    max-width: 100%;
  }
  section.about-us .container::after,
  section.about-us .container:before,
  section.milestones .container::before {
    content: none;
  }
  section.membership .container .second-part {
    border: none;
    background: transparent;
  }
  section.membership .container .second-part .box .first-content {
    gap: 10px;
    max-width: 100%;
  }
  section.membership .container {
    max-width: 767px;
    padding: 0 16px;
  }
  section.membership .container .second-part {
    padding: 0;
  }
  section.membership .container .second-part .box {
    align-items: normal;
  }
  section.membership .container .row {
    align-items: normal;
  }
  section.membership .container .second-part .box .first-content h2 {
    color: #231e60;
  }
  section.membership .container .second-part .box .second-content .first-point,
  section.membership .container .second-part .box .second-content {
    align-items: flex-start;
  }
  section.membership .container .second-part .box .second-content .first-point,
  section.membership
    .container
    .second-part
    .box
    .second-content
    .second-point {
    gap: 16px;
  }
  section.membership
    .container
    .second-part
    .box
    .second-content
    .second-point {
    align-items: flex-start;
  }
  section.membership .container .second-part .box .second-content .points h3 {
    font-size: 18px;
  }
  .desktop {
    display: block;
    border: 1px solid #231e60;
    background: #fff;
    padding: 8px;
    color: #231e60;
    font-size: 16px;
    border-radius: 16px;
    display: inline-block;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
  }
  .desktop img {
    max-width: 25px;
  }
  section.membership .container button.join.desktop img {
    width: 20px;
  }
  .mobile {
    display: none !important;
  }
  .swiper-slide.swiper-slide {
    flex-direction: column;
  }
  .milestone-swiper .content::before {
    content: none;
  }

  section.banner-page,
  section.banner-page-jtc,
  section.banner-page-contact,
  section.banner-page-about {
    padding: 20px 0;
  }
  section.main-content {
    padding: 0;
  }
  section.main-content .img-contents img {
    padding: 40px 0;
  }
  section.banner-page .contents,
  section.banner-page-jtc .contents,
  section.banner-page-contact .contents,
  section.banner-page-about .contents {
    padding: 40px 16px;
  }
  section.banner-page-jtc .contents {
    justify-content: flex-end;
  }
  section.banner-page .contents h3.date {
    font-size: 14px;
  }
  section.banner-page .contents h1.main,
  section.banner-page-jtc .contents h1.main,
  section.banner-page-contact .contents h1.main {
    font-size: 24px;
    font-weight: 400;
  }
  section.our-membership,
  section.contact-details {
    padding: 40px 0px;
  }
  section.banner-page-contact .contents {
    justify-content: flex-end;
  }
  section.our-membership {
    padding-right: 16px;
    padding-left: 16px;
  }
  .contact-details .details-box {
    padding: 16px;
  }
  .contact-details .details-box {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .contact-details .details-box .call {
    column-gap: 10px;
  }
  .contact-details .details-box .address p,
  .contact-details .details-box .call p,
  .contact-details .details-box .map p {
    font-size: 16px;
    line-height: 24px;
  }
  section.banner-page .contents p.para {
    font-size: 14px;
  }
  section.banner-page .contents {
    max-height: 400px;
  }
  section.our-membership .container {
    border: none;
  }
  section.our-membership .container {
    padding: 0;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    margin: 0;
    row-gap: 0px;
    width: 100%;
    padding: 8px;
    border-radius: 16px;
  }
  .our-membership .col-6 {
    padding-bottom: 20px;
  }
  section.our-membership .container .heading h1 {
    padding: 15px 0;
  }
  section.form-section {
    padding: 0px 16px 40px;
    background: #fff;
  }
  section.form-section::before {
    content: none;
  }
  section.form-section .form-container {
    padding: 16px;
  }
  .form-container label {
    font-size: 16px;
  }
  .subscription-box p {
    font-size: 16px;
  }
  select#subscriptionPlan {
    max-width: 100%;
  }
  .map {
    padding: 0px 16px;
  }
  .map,
  .map iframe {
    width: 100%;
    height: 90%;
  }
  section.contact-us-page .contact-form h1 {
    font-weight: 500;
    font-size: 32px;
  }
  section.contact-us-page .contact-form p {
    font-size: 16px;
    line-height: 24px;
  }
  section.contact-us-page {
    padding: 40px 0;
  }

  section.banner-page-event-details::after {
    content: none;
  }
  .top-right-dets .price-1,
  .top-right-dets .price-2 {
    justify-content: space-between;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    padding: 8px;
    column-gap: 25px;
  }
  section.banner-page-event-details .top-right-dets {
    row-gap: 0;
  }
  section.banner-page-event-details .item-2 {
    border: none;
    padding-top: 0;
  }
  section.testimonials .swiper::after {
    content: none;
  }
  section.our-services .icon-boxes::after {
    content: none;
  }
  .testimonials .swiper {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  section.banner-page-jtc .contents,
  section.banner-page-contact .contents,
  section.banner-page-about .contents {
    max-height: 380px;
  }
  section.banner-page-event-details .event-details {
    padding-left: 10px;
  }
  section.banner-page-about .contents h1.main {
    font-size: 24px;
    line-height: 32px;
  }
  section.banner-page-about .contents p.para {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  section.banner-page-about .contents {
    justify-content: flex-end;
  }

  section.membership-plan {
    padding: 40px 0;
  }

  section.membership-plan .contents,
  section.membership-plan .box {
    flex-direction: column;
  }
  section.membership-plan .right-content {
    margin-left: 0;
    background: transparent;
    border: none;
    padding: 0;
  }
  section.membership-plan .second-content {
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    padding: 16px;
  }
  section.membership-plan .box .second-content .first-point,
  section.membership-plan .box .second-content .second-point {
    row-gap: 15px;
  }
  section.membership-plan h2.club {
    font-size: 32px;
    font-weight: 500;
  }
  section.membership-plan .box .second-content .points h3 {
    font-size: 18px;
  }
  section.membership-plan .box .first-content {
    max-width: 100%;
  }
  section.membership-plan p {
    font-size: 16px;
  }
  section.membership-plan .box .first-content h2 {
    font-size: 24px;
  }
  section.milestones .swiper {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .book-btn-mobile {
    width: 55%;
  }
  .book-btn-mobile img {
    max-width: 20px;
  }
  .our-services .icon-boxes {
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .our-services .icon-boxes .ic-box {
    max-width: 45%;
    gap: 10px;
  }
  .our-services .icon-boxes {
    /* flex-direction: column; */
    gap: 30px;
  }
  section.about-slider h2.slide-heading {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }
  .about-slider .swiper-slide {
    row-gap: 10px;
  }
  .slider-box h3 {
    font-size: 10px;
  }
  .about-slider .swiper-slide img {
    max-width: 20px;
  }
  .slider-box {
    padding: 7px 11px;
    gap: 8px;
  }
  .dets-1,
  .dets-2,
  .dets-3,
  .dets-4 {
    margin-bottom: 5px;
  }
  section.mtcc-club-family {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
  }
  section.mtcc-club-family p.club-para {
    font-size: 16px;
  }
  section.mtcc-club-family .buttonWithPara h2 {
    font-size: 32px;
    line-height: 38px;
    max-width: 100%;
  }
  section.mtcc-club-family p.large-para {
    font-size: 16px;
    line-height: 24px;
  }
  section.call-to-action {
    padding: 40px 0;
  }

  section.call-to-action .mt-heading {
    font-size: 16px;
  }
  section.call-to-action .mt-heading-2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
  }
  section.call-to-action .character {
    width: 150px;
    margin-left: 20px;
  }
  section.call-to-action .left-content {
    row-gap: 0;
  }
  .anime-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-img {
    display: block;
  }
  section.resources,
  section.list-your-program,
  section.home-about-us {
    padding: 40px 0;
  }
  section.resources h2.section-title {
    font-size: 32px;
    line-height: 38px;
  }
  .resources-with-btn {
    justify-content: center;
  }
  section.resources .resources-item-card-inner {
    padding-top: 25px;
  }
  section.resources .resources-item-card-inner .resources-item-card-img img {
    height: 180px;
  }
  .about-row {
    flex-direction: column-reverse;
    row-gap: 20px;
  }
  .list-img {
    width: 350px;
  }
  section.list-your-program .program-heading {
    font-size: 16px;
  }
  section.list-your-program .program-long-heading {
    font-size: 32px;
    line-height: 38px;
  }
  section.list-your-program .list-para {
    font-size: 16px;
    max-width: 100%;
  }
  section.list-your-program::before {
    content: none;
  }
  section.list-your-program::after {
    content: none;
  }
  .about-sec-part .img-fluid {
    margin: 0;
  }
  section.home-about-us .about-heading {
    font-size: 16px;
  }
  section.home-about-us .about-long-heading {
    font-size: 32px;
    line-height: 38px;
  }
  section.home-about-us .heading-btn {
    align-items: flex-start;
    flex-direction: column;
  }
  .about-sec-part .changing-text {
    left: 40%;
    font-size: 41px;
    line-height: 35px;
  }
  section.home-about-us .about-para {
    font-size: 16px;
  }

  section.mtcc-club-family .scroll-container {
    overflow: visible;
  }

  section.mtcc-club-family .items {
    flex-wrap: wrap;
  }
  section.mtcc-club-family .item-container {
    padding-top: 10px;
  }

  section.mtcc-club-family .items .item {
    flex: 0 0 45%;
    margin-right: 5%;
    margin-bottom: 0;
  }
  section.mtcc-club-family .items .item h3 {
    font-size: 19px;
    line-height: 24px;
    text-wrap: wrap;
  }
  section.mtcc-club-family .items .item h3 span {
    font-size: 38px;
  }

  section.mtcc-club-family .items .item {
    min-width: 100%;
  }

  .about-sec-part {
    padding-left: 0;
  }
  .about-sec-part .changing-text {
    top: 40%;
    left: 35%;
  }

  .drop-cap {
    float: left;
    font-size: 40px;
    line-height: 1;
    margin-right: 0.1em;
    margin-top: 0.1em;
  }

  section.mtcc-club-family .items {
    flex-wrap: wrap;
  }

  section.mtcc-club-family .items .item {
    flex: 0 0 50%; /* Take up 50% of the container's width */
    margin-right: 0; /* Remove right margin */
  }

  .content.active {
    grid-template-columns: repeat(2, 1fr);
  }
  .event img {
    height: 170px;
  }
  .pagination {
    gap: 8px;
  }
  .pagination span:last-child {
    margin-left: 10px;
  }
  .tab.active {
    padding: 8px 16px;
    font-size: 16px;
  }
  .tab {
    font-size: 16px;
  }
  .tab:first-child {
    border-radius: 27px;
  }
  section.you-may-like-slider.coming-events {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .may-like-slider {
    padding-top: 0;
  }

  .tabs {
    margin-bottom: 40px;
  }
  .about-first-part {
    padding-right: 15px;
  }
  section.explore-club .heading {
    margin-bottom: 15px;
  }
  .about-sec-part .img-fluid {
    width: 300px;
  }
  .about-sec-part {
    justify-content: center;
  }

  .testimonials .swiper-slide {
    padding: 20px 15px;
  }

  footer {
    padding: 20px 10px;
    padding-bottom: 5px;
  }
  .footer-first-item img {
    max-width: 80%;
    width: 150px;
    margin-bottom: 20px;
  }
  .col-lg-2.custom-width {
    max-width: 50%;
  }
  h2.copyright-heading {
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
  }
  .footer-seventh-item {
    gap: 10px;
    padding-bottom: 0;
  }
  .social-icons img {
    width: 15px;
  }
  footer .row:first-child {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .top-left-dets {
    row-gap: 5px;
  }

  .two-line-menu {
    column-gap: 35%;
  }
  .ext-title {
    background: #231e60;
    color: #fff;
  }
  section.host-event-section {
    padding: 40px 0;
  }
  .host-card {
    max-height: 250px;
    max-width: 130px;
    gap: 10px;
    margin-right: 0;
  }
  .host-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .host-title {
    font-size: 18px;
    font-weight: 600;
  }
  .mobile-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .right-host-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  section.application-second {
    padding: 40px 0;
  }

  .app-right-side {
    padding-left: 15px;
  }
  .application-second .form-group:nth-child(odd) {
    padding-right: 5px;
  }
  section.content-section {
    padding: 40px 0;
  }

  .login-parent {
    width: 100%;
  }

  section.feedback-form {
    padding: 40px 0;
  }
  h2.feedback-heading {
    font-size: 28px;
    font-weight: 500;
  }
  .star-box {
    width: 100%;
  }

  section.page-not-found {
    padding: 40px 0;
  }
  section.page-not-found .main-box {
    flex-direction: column-reverse;
  }
  h1.not-found-heading {
    font-size: 28px;
    line-height: 38px;
  }
  p.not-found-para {
    font-size: 16px;
    line-height: 24px;
  }
  .full-width-btn-mobile {
    width: 100%;
  }
  section.featured-recipe,
  section.tab-section {
    padding: 40px 0;
  }

  section.featured-recipe::before {
    content: none;
  }
  .recipe-card-box {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .tab-meta-column {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  section.featured-recipe h2.sub-heading {
    font-size: 16px;
    text-align: left;
  }
  h1.main-heading {
    font-size: 28px;
    text-align: left;
    line-height: 35px;
    font-weight: 500;
  }
  .tab-column {
    overflow-x: auto;
    background: #eef1f8;
    gap: 0;
    padding: 15px 0 0px 15px;
  }
  .tab-column::-webkit-scrollbar {
    display: none;
  }
  .blog-card {
    flex-direction: column;
    height: auto;
  }
  .tab-img {
    display: none;
  }
  h2.tab-meta-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .tab-heading {
    width: 113px;
  }
  section.tab-section .col-12 {
    padding: 0;
  }
  .active-tab {
    border-bottom: 3px solid #fba01a;
  }
  .tab-heading {
    transition: all 0.1s ease;
  }
  a img.blog-card-img {
    width: 100%;
  }
  h2.tab-main-heading {
    font-size: 16px;
  }

  .card-head {
    padding: 10px 0;
    border-radius: 0;
    text-align: center;
  }
  .tab-section .container-fluid.desktop-hide {
    display: block;
    padding: 0;
  }
  h2.card-head-heading {
    margin: 0;
  }
  section.tab-section {
    padding-top: 0;
  }
  p.slide-category {
    font-size: 18px;
    line-height: 20px;
  }
  .explore-title {
    font-size: 14px;
    line-height: 15px;
  }
  .ext-title {
    padding: 12px 5px;
  }
  a.blog-card-img-parent {
    height: 150px;
  }

  section.exciting-events {
    padding: 40px 0;
    padding-bottom: 0;
  }
  .exciting-tab-column {
    overflow-x: auto;
  }
  .exciting-tab-column::-webkit-scrollbar {
    display: none;
  }
  h2.exciting-heading {
    font-size: 28px;
  }
  .exiciting-tab-img {
    display: none;
  }
  h2.exciting-tab-main-heading {
    font-size: 14px;
  }
  .exciting-tab-column {
    padding-top: 0;
  }
  .exiciting-event-tab {
    width: fit-content;
  }
  /* .tab-left-side {
  display: none;
} */
  .grid-container {
    gap: 0px;
  }
  .grid-item img {
    border-radius: 8px;
  }
  section.gallery {
    padding: 40px 0;
  }

  h1.gallery-heading {
    font-size: 28px;
  }
  .tab-content-first.active,
  .tab-content-second.active,
  .tab-content-third.active {
    display: flex;
    flex-direction: column;
  }
  button.scroll-arrow.excititng-tab {
    display: none;
  }

  h2.tab-first-heading {
    font-size: 26px;
    line-height: 35px;
  }

  .tab-right-side img {
    width: 70%;
    height: 225px;
  }
  h3.date {
    font-size: 20px;
    line-height: 30px;
  }
  h3.address {
    font-size: 20px;
    line-height: 30px;
  }

  .tab-left-side {
    margin-bottom: 15px;
  }
  .right-container{
    padding-left: 0;
    /* overflow-y: visible; */
    height: 100%;
  }
  .plan-box{
    flex-wrap: wrap;
  }
  .membership-card .subscribe-btn-dashboard {
    width: 100%;
}
.event-info img {
  width: 40px;
  height: 40px;
}
.event-info span{
  line-height: 20px;
}
h4.events-header {
  padding: 16px 24px;
}

.manage-profile form, .change-password form {
  padding: 16px 12px;
}

















}

@media (max-width: 576px) {
  .swiper-slide .slide-para {
    font-size: 14px;
    line-height: 20px;
  }

  .swiper-slide .slide-heading {
    font-size: 24px;
  }

  section.about-us,
  section.our-services,
  section.testimonials,
  section.milestones,
  section.membership {
    padding: 40px 0;
  }

  section.about-us .about-para,
  section.membership .container .first-part .plan-para,
  section.milestones .milestones-heading,
  section.membership .container .first-part .plan {
    font-size: 16px;
    line-height: 24px;
  }

  .scroll-in li {
    font-size: 18px;
  }

  .milestone-swiper .main-heading h2 {
    display: none;
  }

  .milestone-swiper .swiper-slide:nth-child(4n + 1) .sub-heading h4 {
    color: #231e60;
  }

  .milestone-swiper .swiper-slide:nth-child(4n + 2) .sub-heading h4 {
    color: #fba01a;
  }

  .milestone-swiper .swiper-slide:nth-child(4n + 3) .sub-heading h4 {
    color: #b2cd30;
  }

  .milestone-swiper .swiper-slide:nth-child(4n + 4) .sub-heading h4 {
    color: #5573bc;
  }
  section.milestones .swiper-slide img {
    width: 100%;
  }

  .milestone-swiper .content .sub-heading h4 {
    font-size: 24px;
    font-weight: 700;
  }

  .milestone-swiper .content .sub-heading p {
    font-size: 16px;
    line-height: 24px;
  }
  .milestone-swiper .content .sub-heading {
    margin-top: 20px;
  }
  .swiper-wrapper {
    column-gap: 0;
  }

  section.membership .container .second-part .box .second-content {
    flex-direction: column;
    gap: 16px;
    background: #fff;
    padding: 16px;
  }
  section.banner-page-event-details {
    padding: 40px 10px;
    padding-top: 0;
  }
  section.banner-page-event-details .left-img {
    object-fit: cover;
    min-height: 200px;
  }
  section.banner-page-event-details .event-details {
    padding-top: 20px;
  }
  .top-left-dets {
    border: none;
  }
  .price-1 h4 span,
  .price-2 h4 span {
    font-size: 24px;
  }
  .book-btn {
    padding: 8px;
    /* height: auto;
    width: 60%; */
    font-size: 14px;
  }
  .price-1,
  .price-2 {
    display: flex;
    justify-self: center;
    align-items: center;
  }
  .top-left-dets h4.date-time {
    font-size: 16px;
    padding-left: 5px;
  }
  .top-left-dets .me-2 {
    width: 30px;
  }
  section.banner-page-event-details .event-card {
    padding: 12px;
    flex-wrap: wrap;
  }
  section.about-event {
    padding: 40px 0px 0 0px;
  }
  section.about-event .contents {
    padding: 0;
  }
  section.about-event .map-card {
    margin-bottom: 25px;
  }
  .map-card-header iframe {
    max-height: 230px;
    border-radius: 16px 16px 0 0;
  }
  section.explore-club {
    padding: 0;
    padding-top: 40px;
  }

  .explore-club-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .explore-club .explore-card .explore-img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
  }

  .explore-club .explore-card {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .explore-club-container::-webkit-scrollbar {
    display: none;
  }

  .explore-club-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    justify-content: flex-start;
  }
  section.about-event .map-card .map-card-footer h2 {
    font-size: 16px;
    line-height: 24px;
  }
  section.about-event .map-card .map-card-footer p {
    font-size: 16px;
    line-height: 24px;
  }
  section.you-may-like-slider {
    padding: 40px 0;
  }
  .may-like-slider .swiper-button-next,
  .may-like-slider .swiper-button-prev {
    display: none;
  }
  section.you-may-like-slider .like-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #231e60;
  }
  .desktop-hide {
    display: flex;
  }
  .price-1 h4,
  .price-2 h4 {
    width: 40%;
  }
  section.mtcc-club-family {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
  }
  section.mtcc-club-family p.club-para {
    font-size: 16px;
  }
  section.mtcc-club-family .buttonWithPara h2 {
    font-size: 30px;
    line-height: 38px;
  }

  .explore-club .explore-card {
    gap: 10px;
    margin: 0;
  }

  .col-lg-12.map-content {
    flex-wrap: wrap;
  }
  .right-host-card-container {
    padding-left: 0;
  }

  .main-box {
    flex-direction: column;
  }
  h2.host-event-sub-title {
    font-size: 24px;
  }
  .for-mobile {
    margin-bottom: 15px;
    flex-direction: column;
  }
  .footer-first-item {
    order: 1;
  }
  .footer-second-item {
    order: 3;
  }
  .footer-third-item {
    order: 2;
  }
  .footer-fourth-item {
    order: 4;
  }
  .col-12.col-md-6.col-lg-2.footer-fifth-item.custom-width {
    order: 5;
  }
  .footer-sixth-item {
    order: 6;
  }
}
